.google {
  height: 100%;
  font-family: arial;
}

a {
  text-decoration: none;
  color: black;
}

.nav {
  display: block;
}

.nav-links {
  text-align: right;
  padding: 15px;
  font-size: 13px;
}

.logo {
  margin: auto;
  width: 18%;
  padding: 30px;
}

.search {
  margin: auto;
  width: 18%;
  padding: inherit;
}

.search-field {
  width: 100%;
}

.buttons {
  padding: 10px;
}

.lucky-button {
  margin-left: 50px;
}

.search-button {
  margin-left: 30px;
}

.simple-text {
  text-align: center;
}

#footer {
  bottom: 0%;
  position: fixed;
}

.links-left {
}

.links-right {
  margin-left: 1550px;

}
